## We are using these requirements directly:
git+https://github.com/shikarkhane/yZappa.git@master#egg=zappa
git+https://github.com/shikarkhane/ymodel.git@master#egg=ymodel
boto3==1.21.32
click==8.1.2
Flask==2.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
marshmallow==3.15.0
feedparser==6.0.8
requests==2.27.1
werkzeug==2.0.3
pytz==2022.1
zeep==4.1.0